{% extends 'main.html' %}
{% block content %}
    <script>
        function resimYuklenemedi() {
            //document.querySelector('.img').src = "{{ url_for('static', filename='images/placeholder.png') }}";
            const img = document.querySelector(".img")
            img.src = 'static/images/loading.gif';
            img.style.width = "128"
            img.style.height = "128"
            img.style.borderRadius = "50%"
        }

        function statlariOku() {
            fetch("/stats")
                .then(response => response.json())
                .then(data => {
                    if (data === null)
                        return

                    let enYuksekSkorluDuygu = Object.keys(data).reduce((a, b) => data[a].percentage > data[b].percentage ? a : b);
                    console.log("enYuksekSkorluDuygu: ", enYuksekSkorluDuygu, "secilmisDuygu", secilmisDuygu)
                    if (enYuksekSkorluDuygu === secilmisDuygu) {
                        isSecilmisDuyguYapildi = true
                        updateDuyguTexts()
                    }

                    for (const [key, value] of Object.entries(data)) {
                        const targetStat = document.getElementById(`statlar-${key}`)
                        targetStat.querySelector("p").innerHTML = `${value.title}`;
                        targetStat.querySelector("span").innerHTML = `<b>%${value.percentage}</b>`

                        targetStat.style.background = key === enYuksekSkorluDuygu ? "#5adbb2" : "#fff"
                    }


                }).catch(err => {
                console.error("Stat okunurken hata: ", err)
                clearInterval(statIntervalId)
            })
        }

        let secilmisDuygu = null;
        let isSecilmisDuyguYapildi = false
        const TIMEOUT_FOR_SECILENDUYGU = 10 // 10 saniye içerisinde seçilen duyguyu yapması lazım eğer yapmazsa kalanHak 1 azalacak
        let secilenDuyguTimer = 0
        let kalanHak = 3

        function rastgeleDuyguIste() {
            let yeniDuygu;
            do {
                yeniDuygu = ["happy", "neutral", "sad", "angry", "disgust", "fear", "surprise"][Math.floor(Math.random() * 7)]
            } while (yeniDuygu === secilmisDuygu) // tekrar aynı duyguyu vermesin diye
            secilmisDuygu = yeniDuygu
            isSecilmisDuyguYapildi = false
            updateDuyguTexts()


        }

        function updateDuyguTexts() {
            const secilmisDuyguElement = document.getElementById("secilmis-duygu")
            const secilenDuyguText = secilmisDuyguElement.getElementsByTagName("span")[0]
            const secilenDuyguYapildiImages = secilmisDuyguElement.getElementsByTagName("img")

            secilmisDuyguElement.style.display = secilmisDuygu !== null ? "flex" : "hidden"

            secilenDuyguText.innerHTML = `Seçilmiş Duygu: <b>${secilmisDuygu}</b>`

            secilenDuyguYapildiImages[0].style.display = isSecilmisDuyguYapildi ? "none" : "block" // Çarpı
            secilenDuyguYapildiImages[1].style.display = !isSecilmisDuyguYapildi ? "none" : "block" // Okay


            secilenDuyguTimer = 0
            //setTimeout()

        }

        var statIntervalId = setInterval(statlariOku, 200);
    </script>
    <div class="flex flex-col gap-4 max-w-7xl justify-evenly m-auto">
        <style>

            .img {
                width: 1000px;
                height: 600px;
                /*width:100%;
                height:100%;*/
                border-radius: 20px;
                margin: auto;
            }

            .stat-card {
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: max-content;
                min-width: 150px;
            }

            #wrapper-statlar {
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                width: min-content;
                margin: auto;
            }
        </style>
        <h1 class="text-center font-bold text-3xl text-slate-600">Duygunu Söyle ve Göster</h1>

        <div class="relative">
            <img style="box-shadow: 0 0 10px black;" class="img mt-10" src="{{ url_for('kameradan_goruntu_al') }}"
                 alt="Kullanıcı Resmi"
                 onerror="resimYuklenemedi()">

            <button class="bg-yellow-400 hover:bg-yellow-300 transition-all duration-300 text-white rounded-lg px-8 py-4 text-center font-semibold absolute bottom-4 m-auto left-1/2"
                    style="transform: translate(-50%, 0);"
                    onclick="rastgeleDuyguIste()">
                🎲 Rastgele Duygu İste
            </button>
        </div>

        <div id="wrapper-statlar"
             class="flex flex-col gap-4 justify-center items-center border-2 border-zinc-200 py-4 px-8 rounded-xl w-full mb-4">
            <div id="secilmis-duygu" class="flex justify-center items-center gap-2" style="display: none">
                <span class="text-neutral-500 text-2xl text-center">Seçilmiş Duygu: </span>
                <img alt="yapilmadi" src="/static/images/decline.png" width="32" height="32">
                <img alt="yapildi" src="/static/images/accept.png" width="32" height="32">
            </div>
            <div class="flex gap-6 min-w-[350px] sm:min-w-[400px] md:min-w-[700px] flex-wrap lg:flex-nowrap">
                <div id="statlar-happy" class="stat-card">
                    <img src="static/images/happy.png" alt="happy" style="width: 48px; height: 48px">
                    <p>Mutlu</p>
                    <span>%0</span>
                </div>
                <div id="statlar-neutral" class="stat-card">
                    <img src="static/images/neutral.png" alt="neutral" style="width: 48px; height: 48px">
                    <p>Normal</p>
                    <span>%0</span>
                </div>
                <div id="statlar-sad" class="stat-card">
                    <img src="static/images/sad.png" alt="sad" style="width: 48px; height: 48px">
                    <p>Üzgün</p>
                    <span>%0</span>
                </div>
                <div id="statlar-angry" class="stat-card">
                    <img src="static/images/angry.png" alt="angry" style="width: 48px; height: 48px">
                    <p>Kızgın</p>
                    <span>%0</span>
                </div>
                <div id="statlar-disgust" class="stat-card">
                    <img src="static/images/disgust.png" alt="disgust" style="width: 48px; height: 48px">
                    <p>İğrenmiş</p>
                    <span>%0</span>
                </div>
                <div id="statlar-fear" class="stat-card">
                    <img src="static/images/fear.png" alt="fear" style="width: 48px; height: 48px">
                    <p>Korkmuş</p>
                    <span>%0</span>
                </div>
                <div id="statlar-surprise" class="stat-card">
                    <img src="static/images/surprise.png" alt="disgust" style="width: 48px; height: 48px">
                    <p>Şaşkın</p>
                    <span>%0</span>
                </div>
            </div>

            <footer class="w-full flex justify-center">
                <span class="text-neutral-600 font-bold text-center mt-auto">Emre Demircan</span><span
                    class="text-zinc-300 ml-1.5 font-semibold">(github/emrecpp)</span>
            </footer>
        </div>
    </div>
    <br>

{% endblock %}