<html lang="tr">

<head>
    <title>Duygunu Söyle ve Göster | Emre Demircan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script async src="https://cdn.tailwindcss.com"></script> -->
    <script src="/static/tailwind.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                    }
                }
            }
        }
    </script>
    <style>
        body {
            background-image: url("static/images/bg_light.svg");
        }
    </style>
</head>

<body class="flex flex-col justify-center min-h-screen px-10 py-5">
    {% block content %}
    {% endblock %}


</body>
</html>